.popup {
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0ms 600ms, opacity 600ms 0ms;
}

.popup_open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: visibility 0ms 0ms, opacity 600ms 0ms;
  z-index: 1;
}

.popup__message {
  width: 430px;
  height: 380px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
}

.popup__form {
  margin: 0;
  width: 83%;
  display: flex;
  flex-direction: column;
  margin-left: 8%;
}

.popup__input-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #2f71e5;
}

.popup__input {
  border: none;
  border-bottom: 1px solid #e6e8eb;
  color: black;
  padding-bottom: 10px;
  padding-top: 9px;
}

.popup__input::placeholder {
  opacity: 0.2;
}

.popup__input-error {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  visibility: hidden;
  margin: 3px 0 13px 0;
}

.popup__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 40px;
  width: 40px;
  background-image: url("../../images/x.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.popup__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1a1b22;
  margin: 34px 0 22px 8%;
}

.popup__submit-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  height: 64px;
  background: #e6e8eb;
  border: none;
  border-radius: 100px;
  color: #b6bcbf;
  text-align: center;
  margin-top: 34px;
}

.popup__submit-btn_active {
  background: #2f71e5;
  color: #ffffff;
  cursor: pointer;
}

.popup__switch {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin: 16px 0 28px 0;
}

.popup__switch-link {
  color: #2f71e5;
  text-decoration: none;
}
