.saved-news-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.saved-news-header__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}

.saved-news-header__subtitle {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}

.saved-news-header__keywords {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}
