.about {
  width: 100vw;
  display: flex;
  column-gap: 4%;
}

.about__image {
  width: 32%;
  margin-left: 7%;
  margin-top: 80px;
  margin-bottom: 80px;
}

.about__title {
  margin-top: 131px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 115%;
  color: #1a1b22;
}

.about__text {
  width: 40%;
}

.about__paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #1a1b22;
  margin: 24px 0 0;
}

@media all and (min-width: 767px) and (max-width: 1000px) {
  .about__title {
    margin-top: 40px;
    font-size: 30px;
  }

  .about__image {
    margin-top: 61px;
  }
}

@media all and (min-width: 320px) and (max-width: 766px) {
  .about {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .about__text {
    width: 85%;
  }
  .about__title {
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 30px;
  }
  .about__image {
    width: 85%;
    margin: 32px 0 0;
    margin-top: 32px;
  }
  .about__paragraph {
    margin-top: 16px;
  }
}
