.navbar {
  display: flex;
  text-decoration: none;
  column-gap: 42px;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  color: inherit;
}

.navbar__option {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
}

.navbar__option_current {
  border-bottom: 3px solid;
}

.navbar__link_loggedIn::after {
}

.navbar__option:last-child {
  height: 60%;
  border: 1px solid;
  border-radius: 100px;
  width: 176px;
  text-align: center;
}

.navbar__btn {
  display: none;
}

@media all and (min-width: 767px) and (max-width: 1000px) {
  .navbar__link {
    font-size: 16px;
  }
}

@media all and (min-width: 320px) and (max-width: 766px) {
  .navbar__option {
    display: none;
  }

  .navbar__btn {
    display: block;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    padding: 0;
    background-image: url("../../images/menu-white.svg");
  }
}
