.navbar {
  display: flex;
  text-decoration: none;
  column-gap: 42px;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  color: inherit;
}

.navbar__option {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navbar__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  cursor: pointer;
  color: #B6BCBF;
}

.header_saved-news .navbar__link {
  color: black;
}

.navbar__option_current {
  border-bottom: 3px solid;
  color: white;
}

.navbar__option_current .navbar__link {
  color: white;
}

.navbar__option:last-child {
  height: 60%;
  border: 1px solid;
  border-radius: 100px;
  width: 176px;
  text-align: center;
  background: none;
}

.navbar__option:last-child .navbar__link {
  background: none;
  border: none;
  color: white;
}

@media all and (min-width: 767px) and (max-width: 1000px) {
  .navbar__link {
    font-size: 16px;
  }
}

@media all and (min-width: 320px) and (max-width: 766px) {
  .navbar__option {
    display: none;
  }

  .header_popup .navbar {
    height: 174px;
    background: #1a1b22;
    position: absolute;
    top: 57px;
    right: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .header_popup .navbar__option {
    display: flex;
    align-items: center;
    width: 90%;
    height: min-content;
  }

  .header_popup .navbar__link {
    width: 100%;
  }

  .header_popup .navbar__option_current {
    border-bottom: none;
  }

  .header_popup .navbar__option:last-child {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header_popup .navbar__option:last-child .navbar__link {
   width: fit-content;
  }

  .header_saved-news.header_popup .navbar {
    background-color: white;
  }
}
